// primary
$color-pale-blue: hsl(225, 100%, 94%);
$color-bright-blue: hsl(245, 75%, 52%);

// secondary
$color-dark-blue: hsl(223, 47%, 23%);
$color-very-pale-blue: hsl(225, 100%, 98%);
$color-desaturated-blue: hsl(224, 23%, 55%);