@import '_colors';
@import '_typography';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-pale-blue;
    font-family: $font-primary;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/images/pattern-background-mobile.svg');
    background-repeat: no-repeat;

    @media only screen and (min-width: 450px) {
        background-image: url('/images/pattern-background-desktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

}

.card {
    width: 325px;
    height: 565px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;

    @media only screen and (min-width: 450px) {
        width: 445px;
        height: 700px;
    }    

    &-header img {
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    &-body {
        display: flex;
        flex-direction: column;
        padding: 20px 25px;
        text-align: center;
        height: 100%;
        justify-content: space-between;

        @media only screen and (min-width: 450px) {
            padding: 40px 50px;
        }    

        &-title {
            color: $color-dark-blue;
            font-weight: 900;
        }

        &-description {
            font-size: $font-size-md;
            line-height: 1.5;
            color: $color-desaturated-blue;
            font-weight: 500;
        }

        .plan {
            background-color: $color-very-pale-blue; 
            border-radius: 10px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (min-width: 450px) {
                padding: 20px;
            }    

            &-detail {
                display: flex;
                flex-direction: column;
                align-items: start;
                flex-wrap: wrap;
                margin-left: -20px;

                @media only screen and (min-width: 450px) {
                    margin-left: -90px;
                }    

                &-name {
                    font-weight: 900;
                    color: $color-dark-blue;
                    font-size: 15px;
                }

                &-price {
                    color: $color-desaturated-blue;
                    font-size: 14px;
                }
            }

            &-change-link {
                font-size: 14px;
                font-weight: 700;
                color: $color-bright-blue;

                &:hover {
                    color: $link-hover-primary;
                }
            }

        }

        .btn-proceed {
            background-color: $color-bright-blue;
            color: $color-very-pale-blue;
            font-weight: 900;
            text-decoration: none;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 15px 15px rgba($color-bright-blue, .3);

            &:hover {
                background-color: $link-hover-primary
            }
        }

        .btn-cancel {
            font-weight: 900;
            text-decoration: none;
            color: $color-desaturated-blue;

            &:hover {
                color: $color-dark-blue;
            }
        }
    }



}